<template>
  <q-page class="flex flex-center">
    <q-btn
      label="New meeting"
      color="primary"
      to="/new-meeting"
    />
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageIndex'
})
</script>
