<template>
  <q-page>
    <div
      id="container"
      class="fullscreen"
    >
      <div
        id="video-container"
        @click="hiddenControls = false"
      >
        <q-dialog
          v-model="isPaused"
          persistent
        >
          <q-card>
            <q-card-section class="row items-center">
              <span class="q-ml-sm">Some video streams are paused.</span>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn
                v-close-popup
                flat
                label="Click to play"
                color="primary"
                @click="unpauseVideos"
              />
            </q-card-actions>
          </q-card>
        </q-dialog>

        <div
          v-if="!isError && mainVideo?.audioMuted"
          class="muted-container"
        >
          <q-icon
            name="mic_off"
            class="muted"
            color="red"
          />
        </div>

        <video
          v-if="!isError && mainVideo?.active"
          id="main-video"
          autoplay
          :srcObject="mainVideo"
        />

        <div
          v-if="isError"
          class="message"
        >
          {{ errorMessage }}
        </div>
      </div>

      <div id="small-videos">
        <div
          v-for="stream in smallVideos"
          :key="stream.id"
          class="small-video"
        >
          <q-icon
            v-if="stream.audioMuted"
            name="mic_off"
            class="muted"
            color="red"
          />

          <video
            v-if="stream.active"
            class="video"
            autoplay
            :srcObject="stream"
          />
        </div>
      </div>

      <div
        class="row justify-center q-pa-sm controls"
        :class="{hide: !isError && hiddenControls}"
      >
        <div class="q-gutter-sm">
          <template v-if="isError">
            <q-btn
              round
              icon="close"
              color="red"
              @click="endSession"
            />
            <q-btn
              v-if="connectionState === 'ended'"
              round
              icon="refresh"
              color="white"
              text-color="black"
              @click="restartSession"
            />
          </template>
          <template v-else>
            <q-btn
              round
              icon="call_end"
              color="red"
              @click="endSession"
            />
            <q-btn
              round
              :icon="hasCamera ? 'videocam' : 'videocam_off'"
              :loading="toggleCameraLoading"
              color="white"
              text-color="black"
              @click="toggleCamera"
            />
            <q-btn
              round
              :icon="hasMic ? 'mic' : 'mic_off'"
              :loading="toggleMicLoading"
              color="white"
              text-color="black"
              @click="toggleMic"
            />
            <q-btn
              round
              :icon="hasScreenShare ? 'screen_share' : 'stop_screen_share'"
              :loading="toggleScreenShareLoading"
              color="white"
              text-color="black"
              @click="toggleScreenShare"
            />
            <q-btn
              round
              :icon="isFullScreen ? 'fullscreen_exit' : 'fullscreen'"
              color="white"
              text-color="black"
              @click="toggleFullScreen"
            />
            <q-btn
              round
              icon="arrow_downward"
              color="white"
              text-color="black"
              @click="hiddenControls = true"
            />
          </template>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { computed, defineComponent, onBeforeUnmount, onMounted, ref, watch } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import { useQuasar } from 'quasar'
// eslint-disable-next-line
import adapter from 'webrtc-adapter'

import { Connection } from '../components/connection'
import { debounce } from '../components/utils'

export default defineComponent({
  name: 'Meeting',
  setup () {
    const $q = useQuasar()
    const $router = useRouter()
    const $route = useRoute()

    const roomCode = $route.params.code

    watch($route, (route) => {
      if (route.params.code !== roomCode) {
        endSession()
      }
    })

    const isHost = roomCode === $q.sessionStorage.getItem('startedRoom')

    const endSession = () => {
      $q.sessionStorage.remove('startedRoom')
      $router.replace('/')
    }

    const restartSession = () => {
      window.location.reload()
    }

    // const hasCamera = ref(!!$q.sessionStorage.getItem('hasCamera'))
    const hasCamera = ref(false)
    const cameraStream = ref(null)
    const toggleCameraLoading = ref(false)

    const disableCameraTracks = () => {
      if (cameraStream.value == null) {
        return
      }

      cameraStream.value.getVideoTracks()[0].stop()
    }

    const disableCamera = () => {
      cameraStream.value = null
      hasCamera.value = false
      $q.sessionStorage.set('hasCamera', false)
      debUpdateCall()
    }

    const enableCamera = async () => {
      try {
        toggleCameraLoading.value = true
        const stream = await navigator.mediaDevices.getUserMedia({ video: { facingMode: 'user' } })
        hasCamera.value = true
        cameraStream.value = stream
        cameraStream.value.audioMuted = !hasMic.value
        debUpdateCall()

        stream.getVideoTracks()[0].addEventListener('ended', disableCamera)
      } catch (err) {
        console.log(err)
        $q.notify({
          position: 'top',
          type: 'negative',
          message: 'Could not enable camera.'
        })
      } finally {
        toggleCameraLoading.value = false
      }
    }

    onMounted(() => {
      if (hasCamera.value) {
        enableCamera()
      }
    })

    const toggleCamera = () => {
      if (hasCamera.value) {
        disableCameraTracks()
        disableCamera()
      } else {
        enableCamera()
          .then(() => {
            $q.sessionStorage.set('hasCamera', true)
          })
      }
    }

    onBeforeUnmount(disableCameraTracks)

    // const hasMic = ref(!!$q.sessionStorage.getItem('hasMic'))
    const hasMic = ref(false)
    const toggleMicLoading = ref(false)
    const micStream = ref(null)

    const disableMicTracks = () => {
      if (micStream.value == null) {
        return
      }
      micStream.value.getAudioTracks()[0].stop()
    }

    const disableMic = () => {
      micStream.value = null
      hasMic.value = false
      if (cameraStream.value) {
        cameraStream.value.audioMuted = true
      }
      $q.sessionStorage.set('hasMic', false)
      debUpdateCall()
    }

    const enableMic = async () => {
      try {
        toggleMicLoading.value = true
        const stream = await navigator.mediaDevices.getUserMedia({ audio: true })
        micStream.value = stream
        hasMic.value = true
        if (cameraStream.value) {
          cameraStream.value.audioMuted = false
        }
        debUpdateCall()

        stream.getAudioTracks()[0].addEventListener('ended', disableMic)
      } catch (err) {
        console.log(err)
        $q.notify({
          position: 'top',
          type: 'negative',
          message: 'Could not enable microphone.'
        })
      } finally {
        toggleMicLoading.value = false
      }
    }

    const toggleMic = () => {
      if (hasMic.value) {
        disableMicTracks()
        disableMic()
      } else {
        enableMic()
          .then(() => {
            $q.sessionStorage.set('hasMic', true)
          })
      }
    }

    onMounted(() => {
      if (hasMic.value) {
        enableMic()
      }
    })

    onBeforeUnmount(disableMicTracks)

    const hasScreenShare = ref(false)
    const screenShareStream = ref(null)
    const toggleScreenShareLoading = ref(false)

    const disableScreenShareTracks = () => {
      if (screenShareStream.value != null) {
        screenShareStream.value.getTracks()[0].stop()
      }
    }

    const disableScreenShare = () => {
      screenShareStream.value = null
      hasScreenShare.value = false
      debUpdateCall()
    }

    const enableScreenShare = async () => {
      try {
        toggleScreenShareLoading.value = true
        const stream = await navigator.mediaDevices.getDisplayMedia({ video: true })
        screenShareStream.value = stream
        screenShareStream.value.audioMuted = true
        hasScreenShare.value = true
        debUpdateCall()

        stream.getTracks()[0].addEventListener('ended', disableScreenShare)
      } catch (err) {
        console.log(err)
        $q.notify({
          position: 'top',
          type: 'negative',
          message: 'Could not enable screen sharing.'
        })
      } finally {
        toggleScreenShareLoading.value = false
      }
    }

    const toggleScreenShare = () => {
      if (hasScreenShare.value) {
        disableScreenShareTracks()
        disableScreenShare()
      } else {
        enableScreenShare()
      }
    }

    onBeforeUnmount(disableScreenShareTracks)

    const remoteScreenShareStream = ref(null)
    const mainVideoIter = ref(0)

    const clients = ref({})
    window._clients = clients

    const mainVideo = computed(() => {
      // eslint-disable-next-line
      const _ = mainVideoIter.value

      if (remoteScreenShareStream.value?.active) {
        return remoteScreenShareStream.value
      }

      if (screenShareStream.value?.active) {
        return screenShareStream.value
      }

      const cvalues = Object.values(clients.value)

      if (cvalues.length === 0) {
        if (cameraStream.value == null) {
          return { audioMuted: !hasMic.value }
        }

        return cameraStream.value
      }

      return cvalues[cvalues.length - 1].stream
    })

    const smallVideos = computed(() => {
      const cvalues = Object.values(clients.value)
      const ret = cvalues.map((client) => client.stream)

      if (screenShareStream.value == null && remoteScreenShareStream.value == null) {
        ret.pop()
      }

      if (cvalues.length > 0 || screenShareStream.value != null) {
        ret.unshift(cameraStream.value || { id: 'mycamera', audioMuted: !hasMic.value })
      }

      return ret
    })

    onBeforeUnmount(() => {
      for (const client of Object.values(clients.value)) {
        if (!client.stream.active) {
          continue
        }

        for (const track of client.stream.getTracks()) {
          track.stop()
        }
      }
    })

    const connectionState = ref(null)

    const isError = ref(false)
    const errorMessage = ref('')

    const cleanupSession = (message) => {
      errorMessage.value = message
      isError.value = true
      connectionState.value = 'ended'

      disableCameraTracks()
      disableMicTracks()
      disableScreenShareTracks()
    }

    const updateCall = () => {
      if (connection == null) {
        return
      }

      connection.updateCall({
        camera: cameraStream.value?.getVideoTracks()[0],
        mic: micStream.value?.getAudioTracks()[0],
        screen: screenShareStream.value?.getVideoTracks()[0]
      })
        .catch((err) => {
          if (err.message === 'call_not_ready') {
            console.log('update call not ready')
          } else {
            throw err
          }
        })
    }

    const debUpdateCall = debounce(updateCall, 1500)

    let connection = null
    let clearConnectionEvents = null

    const setupConnectionEvents = (connection) => {
      const listenersToClear = []

      const addListener = (event, listener) => {
        const wrapper = (...args) => {
          listener.apply(this, args)
        }
        connection.addEventListener(event, wrapper)
        listenersToClear.push([event, wrapper])
      }

      clearConnectionEvents = () => {
        for (const [event, listener] of listenersToClear) {
          connection.removeEventListener(event, listener)
        }
      }

      addListener('call_hanged', () => {
        window.location.reload()
      })

      addListener('call_stream_update', ({ peerId, remoteStreams }) => {
        if (clients.value[peerId] == null) {
          clients.value[peerId] = { stream: remoteStreams.camera }
        } else {
          if (remoteStreams.camera?.active) {
            remoteStreams.camera.audioMuted = remoteStreams.camera.getAudioTracks().length === 0
            clients.value[peerId].stream = remoteStreams.camera
          } else {
            clients.value[peerId].stream = { id: peerId, audioMuted: true }
          }
        }

        remoteScreenShareStream.value = remoteStreams.screen?.active ? remoteStreams.screen : null
        if (hasScreenShare.value && remoteStreams.screen?.active) {
          toggleScreenShare()
        }

        mainVideoIter.value += 1

        setTimeout(() => {
          for (const el of document.getElementsByTagName('video')) {
            if (el.paused) {
              connectionState.value = 'paused'
              isPaused.value = true
              break
            }
          }
        }, 1000)
      })

      addListener('call_closed', async () => {
      })

      addListener('call_error', async () => {
      })

      if (isHost) {
        addListener('guest_connected', ({ peerId }) => {
          $q.notify({
            position: 'top',
            message: 'Guest connected.'
          })

          if (clients.value[peerId] == null) {
            clients.value[peerId] = { stream: { id: peerId, audioMuted: true } }
          }

          updateCall()
        })

        addListener('peer_disconnected', ({ peerId }) => {
          $q.notify({
            position: 'top',
            message: 'Guest left.'
          })
          delete clients.value[peerId]
        })

        addListener('peer_error', ({ peerId, error }) => {
          console.log('peer error', peerId, error)
        })
      } else {
        addListener('validating_connection', () => {
          errorMessage.value = 'Validating...'
        })

        addListener('connection_accepted', ({ peerId }) => {
          isError.value = false
          $q.notify({
            position: 'top',
            message: 'Connected.'
          })

          if (clients.value[peerId] == null) {
            clients.value[peerId] = { stream: { id: peerId, audioMuted: true } }
          }

          updateCall()
        })

        addListener('connection_rejected', () => {
          cleanupSession('Connection rejected by host.')
        })

        addListener('connection_closed', () => {
          if (connectionState.value === 'ended') {
            return
          }

          cleanupSession('Connection closed.')
        })

        addListener('connection_error', () => {
          cleanupSession('Connection error.')
        })
      }
    }

    onMounted(() => {
      isError.value = true
      errorMessage.value = isHost ? 'Starting...' : 'Connecting...'

      connection = new Connection(roomCode, isHost)
      setupConnectionEvents(connection)

      connection
        .connect()
        .then(() => {
          if (isHost) {
            isError.value = false
            $q.notify({
              position: 'top',
              message: 'Session started.'
            })
          }
        })
        .catch((err) => {
          console.log('error', err)
          errorMessage.value = 'Connection error.'
          connectionState.value = 'ended'

          $q.notify({
            position: 'top',
            type: 'negative',
            message: 'Could not connect to peer server.'
          })
        })

      window._connection = connection
    })

    onBeforeUnmount(() => {
      if (connection != null) {
        clearConnectionEvents()
        connection.close()
      }
    })

    const isPaused = ref(false)
    const unpauseVideos = () => {
      for (const el of document.getElementsByTagName('video')) {
        if (el.paused) {
          el.play()
        }
      }
      connectionState.value = 'in_progress'
    }

    const isFullScreen = ref(false)
    watch(() => $q.fullscreen.isActive, val => {
      isFullScreen.value = val
    })

    const toggleFullScreen = () => {
      if (!isFullScreen.value) {
        $q.fullscreen.request()
      } else {
        $q.fullscreen.exit()
      }
    }

    onBeforeUnmount(() => {
      $q.fullscreen.exit()
    })

    const hiddenControls = ref(false)

    const hideControls = debounce(() => {
      hiddenControls.value = true
    }, 4000)

    return {
      endSession,
      restartSession,
      roomCode,
      hasCamera,
      toggleCameraLoading,
      toggleCamera,
      hasMic,
      toggleMicLoading,
      toggleMic,
      hasScreenShare,
      toggleScreenShareLoading,
      toggleScreenShare,
      mainVideo,
      smallVideos,
      isError,
      errorMessage,
      connectionState,
      unpauseVideos,
      isPaused,
      isFullScreen,
      toggleFullScreen,
      hiddenControls,
      hideControls
    }
  }
})
</script>

<style scoped lang="scss">
#container {
  display: flex;
  flex-direction: column;
}

#video-container {
  background: black;
  flex-grow: 1;
  display: flex;
  justify-content: center;

  video {
    max-width: 100%;
    max-height: 100vh;
    flex-grow: 1;
  }

  .muted-container {
    position: relative;

    .muted {
      position: absolute;
      top: 1rem;
      left: 1rem;
      font-size: 1.5rem;
    }
  }

  .message {
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#small-videos {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: auto;

  .small-video {
    flex-grow: 1;
    width: 144px;
    height: 108px;
    border: 2px solid #333;
    text-align: center;
    display: flex;
    position: relative;
    background-color: black;

    video {
      max-width: 100%;
    }

    .muted {
      position: absolute;
      top: 0.3rem;
      right: 0.3rem;
      font-size: 1rem;
    }
  }
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(80, 80, 80, 0.5);
  transition: bottom 0.5s;

  &.hide {
    bottom: -60px;
  }
}
</style>
