<template>
  <q-page class="q-ma-lg">
    <div class="row justify-center">
      <div class="col-lg-6 col-md-8 col-xs-12">
        <div class="q-gutter-sm">
          <q-input
            v-model="roomCode"
            label="Room code"
            :readonly="isRoomEditable"
          />
          <!-- <q-input
            v-model="name"
            label="Your name"
          /> -->
          <div>
            <video
              id="camera"
              ref="camera"
              autoplay
              muted
            />
          </div>

          <div>
            <div class="q-gutter-sm">
              <q-btn
                round
                :icon="hasCamera ? 'videocam' : 'videocam_off'"
                :loading="toggleCameraLoading"
                @click="toggleCamera"
              />
              <q-btn
                round
                :icon="hasMic ? 'mic' : 'mic_off'"
                :loading="toggleMicLoading"
                @click="toggleMic"
              />
            </div>
          </div>
          <q-btn
            label="Enter"
            color="primary"
            @click="createRoom"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, onBeforeUnmount, onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useQuasar } from 'quasar'
// eslint-disable-next-line
import adapter from 'webrtc-adapter'

export default defineComponent({
  name: 'NewMeeting',
  setup () {
    const $q = useQuasar()
    const $router = useRouter()

    const roomCode = ref((Math.random() * 10000000000).toFixed())
    const isRoomEditable = ref(true)

    const name = ref('')

    const camera = ref(null)
    // const hasCamera = ref(!!$q.sessionStorage.getItem('hasCamera'))
    const hasCamera = ref(false)
    const cameraStream = ref(null)
    const toggleCameraLoading = ref(false)

    const disableCamera = () => {
      if (cameraStream.value != null) {
        cameraStream.value.getVideoTracks()[0].stop()
      }
      camera.value.srcObject = null
    }

    const enableCamera = () => {
      toggleCameraLoading.value = true
      const promise = navigator.mediaDevices.getUserMedia({ video: { facingMode: 'user' } })
      promise
        .then((stream) => {
          cameraStream.value = stream
          camera.value.srcObject = stream
        })
        .catch(() => {
          $q.notify({
            type: 'negative',
            message: 'Could not enable camera.'
          })
        })
        .finally(() => {
          toggleCameraLoading.value = false
        })
      return promise
    }

    onMounted(() => {
      if (hasCamera.value) {
        enableCamera()
      }
    })

    const toggleCamera = () => {
      if (hasCamera.value) {
        disableCamera()
        hasCamera.value = false
        $q.sessionStorage.set('hasCamera', false)
      } else {
        enableCamera()
          .then(() => {
            hasCamera.value = true
            $q.sessionStorage.set('hasCamera', true)
          })
      }
    }

    onBeforeUnmount(disableCamera)

    // const hasMic = ref(!!$q.sessionStorage.getItem('hasMic'))
    const hasMic = ref(false)
    const toggleMicLoading = ref(false)
    const micStream = ref(null)

    const disableMic = () => {
      if (micStream.value != null) {
        micStream.value.getAudioTracks()[0].stop()
      }
    }

    const enableMic = () => {
      toggleMicLoading.value = true
      const promise = navigator.mediaDevices.getUserMedia({ audio: true })
      promise
        .then((stream) => {
          micStream.value = stream
        })
        .catch(() => {
          $q.notify({
            type: 'negative',
            message: 'Could not enable microphone.'
          })
        })
        .finally(() => {
          toggleMicLoading.value = false
        })
      return promise
    }

    const toggleMic = () => {
      if (hasMic.value) {
        disableMic()
        hasMic.value = false
        $q.sessionStorage.set('hasMic', false)
      } else {
        enableMic()
          .then(() => {
            hasMic.value = true
            $q.sessionStorage.set('hasMic', true)
          })
      }
    }

    onMounted(() => {
      if (hasMic.value) {
        enableMic()
      }
    })

    onBeforeUnmount(disableMic)

    const createRoom = () => {
      $q.sessionStorage.set('name', name.value)
      $q.sessionStorage.set('startedRoom', roomCode.value)
      $router.push('/meeting/' + roomCode.value)
    }

    return {
      roomCode,
      isRoomEditable,
      name,
      camera,
      hasCamera,
      toggleCameraLoading,
      toggleCamera,
      hasMic,
      toggleMicLoading,
      toggleMic,
      createRoom
    }
  }
})
</script>

<style scoped lang="scss">
#camera {
  background: black;
  width: 100%;
  max-height: 60vh;
}
</style>
