<template>
  <q-layout view="lHh Lpr lFf">
    <q-dialog v-model="leftDrawerOpen">
      <q-card
        class="q-px-sm q-pb-md settings-page"
      >
        <q-card-section>
          <div class="text-h6">
            TURN servers
          </div>
        </q-card-section>

        <q-item dense>
          <q-item-section>
            <q-input
              v-model="turnUrl"
              dense
              label="URL"
            />
            <q-input
              v-model="turnUser"
              dense
              label="Username"
            />
            <q-input
              v-model="turnCredential"
              dense
              label="Credential"
              type="password"
            />
          </q-item-section>
        </q-item>
        <q-item
          dense
          class="q-mt-sm"
        >
          <q-item-section>
            <q-btn
              label="add"
              color="primary"
              @click="addTurn"
            />
          </q-item-section>
        </q-item>

        <q-item
          v-if="turnServers.length > 0"
          dense
          class="q-mt-sm"
        >
          <q-list
            style="width: 100%"
          >
            <q-item
              v-for="(item, idx) in turnServers"
              :key="idx"
            >
              <q-item-section>
                <div><strong>URL:</strong> {{ item.url }}</div>
                <div><strong>Username:</strong> {{ item.username }}</div>
                <div><strong>Credential:</strong> *****</div>
              </q-item-section>
              <q-item-section avatar>
                <q-btn
                  icon="delete"
                  color="negative"
                  round
                  dense
                  @click="removeTurn(idx)"
                />
              </q-item-section>
            </q-item>
          </q-list>
        </q-item>

        <q-card-section>
          <div class="text-h6">
            STUN servers
          </div>
        </q-card-section>

        <q-item dense>
          <q-item-section>
            <q-input
              v-model="stunUrl"
              dense
              label="URL"
            />
          </q-item-section>
        </q-item>
        <q-item
          dense
          class="q-mt-sm"
        >
          <q-item-section>
            <q-btn
              label="add"
              color="primary"
              @click="addStun"
            />
          </q-item-section>
        </q-item>

        <q-item
          v-if="stunServers.length > 0"
          dense
          class="q-mt-sm"
        >
          <q-list
            style="width: 100%"
          >
            <q-item
              v-for="(item, idx) in stunServers"
              :key="idx"
            >
              <q-item-section>
                <div><strong>URL:</strong> {{ item.url }}</div>
              </q-item-section>
              <q-item-section avatar>
                <q-btn
                  icon="delete"
                  color="negative"
                  round
                  dense
                  @click="removeStun(idx)"
                />
              </q-item-section>
            </q-item>
          </q-list>
        </q-item>
      </q-card>
    </q-dialog>

    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="settings"
          aria-label="settings"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Angelia Chat
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref, watch } from 'vue'
import { useQuasar } from 'quasar'

export default defineComponent({
  name: 'MainLayout',

  setup () {
    const $q = useQuasar()

    const leftDrawerOpen = ref(false)

    const turnServers = ref($q.localStorage.getItem('turnServers') || [])
    const turnUrl = ref('')
    const turnUser = ref('')
    const turnCredential = ref('')

    watch(turnServers.value, () => {
      $q.localStorage.set('turnServers', turnServers.value)
    })

    const addTurn = () => {
      turnServers.value.push({
        url: turnUrl.value,
        username: turnUser.value,
        credential: turnCredential.value
      })

      turnUrl.value = ''
      turnUser.value = ''
      turnCredential.value = ''
    }

    const removeTurn = (id) => {
      turnServers.value.splice(id, 1)
    }

    const stunServers = ref($q.localStorage.getItem('stunServers') || [{ url: 'stun.l.google.com:19302' }])
    const stunUrl = ref('')

    watch(stunServers.value, () => {
      $q.localStorage.set('stunServers', stunServers.value)
    })

    const addStun = () => {
      stunServers.value.push({
        url: stunUrl.value
      })

      stunUrl.value = ''
    }

    const removeStun = (id) => {
      stunServers.value.splice(id, 1)
    }

    return {
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },

      turnServers,
      turnUrl,
      turnUser,
      turnCredential,
      addTurn,
      removeTurn,

      stunServers,
      stunUrl,
      addStun,
      removeStun
    }
  }
})
</script>

<style scoped lang="scss">
.settings-page {
  width: 100%;
}
</style>
